
<p>
  <form method="get" action="/quizzes/<%= quiz.id %>/check">        
    <p>
      Pregunta: <%= quiz.question %>
      <%var autorQuiz=0;
      	for (var j in users) {
        	if (users[j].id===quiz.AuthorId) { %>
          		(autor: <%= users[j].username %>)
          		<% autorQuiz=1 %>
        	<% } %>
      	<% } if (autorQuiz===0) { %>
      		(autor: desconocido)
      	<% } %>
    </p>

    <% if (quiz.Attachment) { %>
      <img src="<%= quiz.Attachment.url %>" />
    <% } else { %> 
      <img src="/images/question.png" width="50px" />
    <% } %> 

    <p>
      <input type="text" name="answer" value="<%= answer %>" placeholder="Respuesta" />
      <input type="submit" value="Comprobar">
    </p>
  </form>
</p>
<% if (session.user) { %>
  <p>
    <a href="/quizzes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a>
  </p>
<% } %>  

<p><strong>Comentarios:</strong></p>

<ul>
  <% for (var i in quiz.Comments) { 
       var comment = quiz.Comments[i];
       if (comment.accepted) { %>
          <li> <%= comment.text %>
          <%var autorComment=0; 
          	for (var j in users) {
	            if (users[j].id===comment.AuthorId) { %>
	              (autor: <%= users[j].username %>)
	              <% autorComment=1 %>
	            <% } %>
          <% } if (autorComment===0) { %>
          		(autor: desconocido)
          <% } %>
          <% if (session.user && (session.user.isAdmin || (quiz.AuthorId === session.user.id))) { %>
            <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>?_method=DELETE"
              onClick="return confirm('Borrar: <%= comment.text %>');""><button>Borrar</button></a>
          <% } %>
          </li>
       <% } else if (session.user && (session.user.isAdmin || (quiz.AuthorId === session.user.id))) { %>
          <li> <%= comment.text %> 
          <%var autorComment=0;
          	for (var j in users) { 
	            if (users[j].id===comment.AuthorId) { %>
	              (autor: <%= users[j].username %>)
	              <% autorComment=1 %>
	            <% } %>
          <% } if (autorComment===0) { %>
          		(autor: desconocido)
          <% } %>
          </li>
          <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>/accept?_method=PUT">
          <button>Aceptar</button></a>
          <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>?_method=DELETE"
            onClick="return confirm('Borrar: <%= comment.text %>');""><button>Borrar</button></a>
       <% } %>
  <% } %>
</ul>